In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
import joblib

In [2]:
# Read the CSV
df = pd.read_csv("../cleaned_data/cleaned_house_crime_school.csv")
df

,Suburb,Address,Rooms,Type,Price,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,CrimeRate,NearbySchools
0,Abbotsford,85 Turner St,2,h,1480000.0,2016-12-03,2.5,3067,1,1,202,0,0,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019,157,2
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,2016-02-04,2.5,3067,1,0,156,79,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019,157,2
2,Abbotsford,5 Charles St,3,h,1465000.0,2017-03-04,2.5,3067,2,0,134,150,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019,157,2
3,Abbotsford,40 Federation La,3,h,850000.0,2017-03-04,2.5,3067,2,1,94,0,0,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019,157,2
4,Abbotsford,55a Park St,4,h,1600000.0,2016-06-04,2.5,3067,1,2,120,142,2014,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019,157,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16035,Yarraville,78 Bayview Rd,3,h,1101000.0,2018-02-24,6.3,3013,1,0,288,0,0,Maribyrnong City Council,-37.8110,144.8852,Western Metropolitan,6543,136,5
16036,Yarraville,13 Burns St,4,h,1480000.0,2018-02-24,6.3,3013,1,3,593,0,0,Maribyrnong City Council,-37.8105,144.8847,Western Metropolitan,6543,136,5
16037,Yarraville,29A Murray St,2,h,888000.0,2018-02-24,6.3,3013,2,1,98,104,2018,Maribyrnong City Council,-37.8155,144.8883,Western Metropolitan,6543,136,5
16038,Yarraville,147A Severn St,2,t,705000.0,2018-02-24,6.3,3013,1,2,220,120,2000,Maribyrnong City Council,-37.8229,144.8786,Western Metropolitan,6543,136,5
16039,Yarraville,3 Tarrengower St,2,h,1020000.0,2018-02-24,6.3,3013,1,0,250,103,1930,Maribyrnong City Council,-37.8181,144.8935,Western Metropolitan,6543,136,5

In [3]:
df=df[df["YearBuilt"]!=0]
df=df[df["BuildingArea"]!=0]
df

,Suburb,Address,Rooms,Type,Price,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,CrimeRate,NearbySchools
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,2016-02-04,2.5,3067,1,0,156,79,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019,157,2
2,Abbotsford,5 Charles St,3,h,1465000.0,2017-03-04,2.5,3067,2,0,134,150,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019,157,2
4,Abbotsford,55a Park St,4,h,1600000.0,2016-06-04,2.5,3067,1,2,120,142,2014,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019,157,2
6,Abbotsford,124 Yarra St,3,h,1876000.0,2016-05-07,2.5,3067,2,0,245,210,1910,Yarra City Council,-37.8024,144.9993,Northern Metropolitan,4019,157,2
7,Abbotsford,98 Charles St,2,h,1636000.0,2016-10-08,2.5,3067,1,2,256,107,1890,Yarra City Council,-37.8060,144.9954,Northern Metropolitan,4019,157,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16032,Wollert,27 Birchmore Rd,3,h,500000.0,2018-02-24,25.5,3750,2,2,383,118,2016,Whittlesea City Council,-37.6194,145.0395,Northern Metropolitan,2940,107,3
16034,Wollert,35 Kingscote Wy,3,h,570000.0,2018-02-24,25.5,3750,2,2,404,158,2012,Whittlesea City Council,-37.6103,145.0339,Northern Metropolitan,2940,107,3
16037,Yarraville,29A Murray St,2,h,888000.0,2018-02-24,6.3,3013,2,1,98,104,2018,Maribyrnong City Council,-37.8155,144.8883,Western Metropolitan,6543,136,5
16038,Yarraville,147A Severn St,2,t,705000.0,2018-02-24,6.3,3013,1,2,220,120,2000,Maribyrnong City Council,-37.8229,144.8786,Western Metropolitan,6543,136,5
16039,Yarraville,3 Tarrengower St,2,h,1020000.0,2018-02-24,6.3,3013,1,0,250,103,1930,Maribyrnong City Council,-37.8181,144.8935,Western Metropolitan,6543,136,5

# Select features (columns)

In [4]:
# Set features to be used as X values.
X = df.drop(["Price",
             "Suburb",
             "Date",
             "Address",
             "Type",
             "CouncilArea",
             "Lattitude",
             "Longtitude",
             "Regionname",
              "Postcode"], axis = "columns")
y = df["Price"]
print(X.shape, y.shape)

(7965, 10) (7965,)

In [5]:
X

,Rooms,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,CrimeRate,NearbySchools
1,2,2.5,1,0,156,79,1900,4019,157,2
2,3,2.5,2,0,134,150,1900,4019,157,2
4,4,2.5,1,2,120,142,2014,4019,157,2
6,3,2.5,2,0,245,210,1910,4019,157,2
7,2,2.5,1,2,256,107,1890,4019,157,2
...,...,...,...,...,...,...,...,...,...,...
16032,3,25.5,2,2,383,118,2016,2940,107,3
16034,3,25.5,2,2,404,158,2012,2940,107,3
16037,2,6.3,2,1,98,104,2018,6543,136,5
16038,2,6.3,1,2,220,120,2000,6543,136,5
16039,2,6.3,1,0,250,103,1930,6543,136,5

In [6]:
# GET housing stats
total_houses = len(df)
max_value = df["Price"].describe()["max"]
min_value = df["Price"].describe()["min"]
print(f"Total houses: {total_houses}")
print(f"Highest price: {max_value}")
print(f"Lowest price: {min_value}")

Total houses: 7965
Highest price: 9000000.0
Lowest price: 131000.0

# Split the data into test and train data using `train_test_split` with test size of 33%

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.33)
X_train

,Rooms,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,CrimeRate,NearbySchools
12747,3,16.5,2,2,228,135,2017,2474,173,1
188,3,11.1,2,3,555,130,1960,5132,155,3
3188,4,11.2,3,2,412,254,1930,8801,240,6
11141,4,15.5,2,2,779,185,1980,6202,115,3
2429,4,13.0,1,2,630,130,1960,8870,396,10
...,...,...,...,...,...,...,...,...,...,...
10377,2,13.1,1,2,177,84,2013,5070,201,6
10751,4,12.1,2,2,538,144,1970,10175,494,9
1578,3,9.3,2,2,357,144,1935,5051,221,4
15222,4,16.1,2,4,920,151,1995,8524,362,11
14543,3,31.7,2,1,402,119,2010,14092,200,14

In [8]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state = 42, test_size = 7964)
X_train2

,Rooms,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,CrimeRate,NearbySchools
14543,3,31.7,2,1,402,119,2010,14092,200,14

# Pre-processing

In [9]:
# Scale the data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Model using RandomForestRegression

In [10]:
regressor = tree.DecisionTreeRegressor()
regressor= regressor.fit(X_train_scaled, y_train)

training_score = regressor.score(X_train_scaled, y_train)
base_accuracy = regressor.score(X_test_scaled, y_test)

print(f"DecisionTreeClassifier training Data Score: {training_score}")
print(f"DecisionTreeClassifier testing Data Score: {base_accuracy}")

DecisionTreeClassifier training Data Score: 0.9999236604514863
DecisionTreeClassifier testing Data Score: 0.4948959620486765

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

# Parameters: n_estimators=600, max_features= Auto, max_depth= None

In [11]:
# Create the GridSearchCV model
param_grid = {"max_features": ["auto", "sqrt", "log2"],
              "max_depth": [17, 18, None]}

grid = GridSearchCV(regressor, param_grid, error_score = "raise", verbose = 3, cv = 5, n_jobs = -1)

In [12]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

GridSearchCV(cv=5, error_score='raise', estimator=DecisionTreeRegressor(),
             n_jobs=-1,
             param_grid={'max_depth': [17, 18, None],
                         'max_features': ['auto', 'sqrt', 'log2']},
             verbose=3)

In [13]:
print(f"Best grid params: {grid.best_params_}")
print(f"Best grid score: {grid.best_score_}")

Best grid params: {'max_depth': None, 'max_features': 'auto'}
Best grid score: 0.4991482852901302

# Train Tuned Model

In [14]:
# Tuned parameters
max_features = grid.best_params_["max_features"]
max_depth = grid.best_params_["max_depth"]

# Tuned model
tuned_model = tree.DecisionTreeRegressor(max_features = max_features, 
                                    max_depth = max_depth,
                                    random_state = 42)
tuned_model.fit(X_train, y_train)

tuned_model_score = tuned_model.score(X_train, y_train)
tuned_accuracy = tuned_model.score(X_test, y_test)

print(f"Training Data Score: {tuned_model_score}")
print(f"Testing Data Score: {tuned_accuracy}")

Training Data Score: 0.9999236604514863
Testing Data Score: 0.5001084244912903

In [15]:
# Make predictions with the hypertuned model
predictions = tuned_model.predict(X_test)

prediction_actual = {"Actual": y_test,
                     "Prediction": predictions}

prediction_df = pd.DataFrame(prediction_actual)
prediction_df = prediction_df.set_index("Actual").reset_index()
prediction_df

         Actual  Prediction
0     1835000.0   1251000.0
1     1836000.0   1025000.0
2     1650000.0   1300000.0
3     1650000.0   1700000.0
4     1930000.0   2177000.0
...         ...         ...
2624  1550000.0   1045000.0
2625  1460000.0   1300000.0
2626  1055000.0   1385000.0
2627  1435000.0    945000.0
2628   701000.0    875000.0

[2629 rows x 2 columns]

In [16]:
# Make predictions with the hypertuned model
predictions = tuned_model.predict(X_test2)

prediction_actual = {"Actual": y_test2,
                     "Prediction": predictions}

full_prediction_df = pd.DataFrame(prediction_actual)
full_prediction_df = full_prediction_df.set_index("Actual").reset_index()
full_prediction_df

         Actual  Prediction
0     1835000.0   1251000.0
1     1836000.0   1025000.0
2     1650000.0   1300000.0
3     1650000.0   1700000.0
4     1930000.0   2177000.0
...         ...         ...
7959   985000.0    985000.0
7960   515000.0    515000.0
7961   730000.0    730000.0
7962  1577500.0   1577500.0
7963   930000.0    930000.0

[7964 rows x 2 columns]

In [17]:
evaluations = {"": ["Base Model", "Tuned Model"],
               "Accuracy": [f"%s" % round(base_accuracy, 3), f"%s" % round(tuned_accuracy, 3)]}

evaluations_df = pd.DataFrame(evaluations)
evaluations_df = evaluations_df.set_index("")

evaluations_df.to_csv("../evaluations/decision_tree_eval.csv")
evaluations_df

            Accuracy

Base Model     0.495
Tuned Model      0.5

# Save the model

In [18]:
# filename = "../models/decision_tree.sav"
# joblib.dump(tuned_model, filename)